* {
  margin: 0;
  padding: 0;
}
.dark {
  background: #24385a;
}
.sidebar {
  min-width: 200px;
  min-height: 100vh;
  z-index: 10;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  padding: 10px 0;
}
.sidebar .dashnav ul {
  list-style: none;
  width: 100%;
}

.dashnav li {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
  cursor: pointer;
  min-height: 90px;
  justify-content: center;
}
.dashnav li:hover,
.dashnav a.active > li {
  background: #1a2e51;
}
.dashnav {
  display: flex;
  justify-content: center;
}
.dashnav span,
.dashnav i {
  color: #e3e3e3;

  margin: 2px 0;
}
.dashnav i {
  font-size: 2em;
}

header.sidetop {
  position: absolute;
  width: 100%;
  min-height: 55px;
  background: #fff;
  box-shadow: 0px 0px 10px #0000000f;
  display: flex;
  align-items: center;
}
.sidetop .content {
  margin-left: 220px;
  margin-right: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.content-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 80px 20px 20px;
  background: #f0f0f0;
}

/* brand */
.brand-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  cursor: pointer;
  color: rgb(155, 155, 155);
}

/* modal */

.model-out-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background: #06060685;
  top: 0;
  left: 0;
  z-index: 500;
  flex: 1;
}

.custom-model {
  display: flex;
  justify-content: center;
}

.modal-sub:hover {
  background: #0e7585;
}
.modal-sub {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  background: #138496;
  padding: 5px 20px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #138496;
}

/* car list */
.carlist .card {
  display: flex;
  justify-content: center;
  align-self: center;
}

/* car list end*/

/* dashboard */
.dash-home .topnotify .card {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  border: none;
}
.dash-home .topnotify .cicon {
  display: flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;
}
.dash-home .topnotify .ctext {
  display: flex;
  flex: 0.7;
  flex-direction: column;
}
.dash-home .topnotify .ctext > span {
  font-size: 1.8rem;
  font-weight: 500;
}
.dash-home .topnotify .c1 {
  background: linear-gradient(150deg, #3b3c37, #595958);
  color: #eeeeee;
}
.dash-home .topnotify .c2 {
  background: linear-gradient(150deg, #354f80, #914aaa);
  color: #eeeeee;
}
.dash-home .topnotify .c3 {
  background: linear-gradient(150deg, #7fd9af, #18b890);
  color: #eeeeee;
}
.dash-home .topnotify .c4 {
  background: linear-gradient(150deg, #d97f7f, #992121);
  color: #eeeeee;
}

/* dashboard end */
